html {
  font-size: 100%;
}

@-ms-viewport{
  width: device-width;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  margin: 1rem 0;
  padding: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

h1 {
  font-size: 1.6rem;
}

#outer {
  width: 90%;
  margin: 0 auto;    
}

.dish {
  cursor: pointer;
  padding: 5px;
}

.dish .name {
  display: inline-block;
  width: 70%;
  font-size: 1rem;
}

.dish .score {
  display: inline-block;
  width: 15%;
  text-align: right;
  font-size: 1rem;
  font-weight: bold;
  color: #777;
}

.dish.selected {
  background-color: yellow;
}

.dish.selected .score {
  color: black;
}

.details .name {
  font-size: 1rem;
  margin: 1rem 0;
}

.details, .none {
  font-weight: bold;
  font-size: 1.4rem;
  margin: 0;
  border-top: 4px solid #eee;
}

.none {
  color: #777;
}

.inc {
  cursor: pointer;
}

.add-dish {
  margin-top: 1rem;
}
